{% extends 'layout.html' %}
{% block content %}
                <div class="container">
                    <h2>Image</h2>
                    <div class="row">
                        <div class="col s10 input-field">
                            <input type="text" id="search" name="search" class="validate">
                            <label for="search">Search</label>
                        </div>
                        <div class="col s2 input-field center-align">
                            <a class="waves-effect waves-light btn" id="dockerfile-search">Search</a>
                        </div>
                    </div>
                    <div class="row">
                        <table border="1">
                            <thead>
                                <tr>
                                    <td class="center-align">tag</td>
                                    <td class="center-align">uuid</td>
                                    <td class="center-align">stats</td>
                                    <td class="center-align">run</td>
                                    <td class="center-align">remove</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for image in images %}
                                <tr>
                                    <td class="center-align">{{ image.tag }}</td>
                                    <td class="center-align">{{ image.uuid }}</td>
                                    <td class="center-align">{{ image.status }}</td>
                                    <td class="center-align">
                                        <a class="waves-effect waves-light btn" onclick="run(this)" data-uuid="{{ image.uuid }}">Run</a>
                                    </td>
                                    <td class="center-align">
                                        <a class="waves-effect waves-light btn" onclick="remove(this)" data-uuid="{{ image.uuid }}">Remove</a>
                                    </td>
                                </tr>
                                <tr class="hide" id="{{ image.uuid }}">
                                    <td colspan="5">
                                        <div class="container">
                                            <div class="input-field">
                                                <input type="text" id="tag" value="cat:latest">
                                                <label for="tag">tag</label>
                                            </div>
                                            <div class="input-field">
                                                <input type="text" id="ssh-port">
                                                <label for="ssh-port">ssh port</label>
                                            </div>
                                            <div class="input-field center-align">
                                                <a class="waves-effect waves-light btn" onclick="run_start('{{ image.uuid }}')">Start</a>
                                            </div>
                                            <div class="input-field center-align">
                                                <div class="row">
                                                    <form class="col s12">
                                                        <div class="row">
                                                            <div class="input-field col s12">
                                                                <textarea id="build-result" class="materialize-textarea"></textarea>
                                                                <label for="build-result">Result</label>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <script>
                    function run(m) {
                        const uuid = $(m).attr("data-uuid");
                        if($("#" + uuid).hasClass("hide")) {
                            $("#" + uuid).removeClass("hide");
                        } else {
                            $("#" + uuid).addClass("hide");
                        }
                    }

                    function run_start(uuid) {
                        $.post("/docker/run/" + uuid, {
                            tag: $("#" + uuid + " #tag").val(),
                            sshport: $("#" + uuid + " #ssh-port").val()
                        }).done((res) => {
                            const result = JSON.parse(res);
                            msg = "";
                            for(item in result){
                                for(key in result[item]) {
                                    if(result[item][key] instanceof Object)
                                        continue;
                                    msg += result[item][key];
                                }
                            }
                            $("#" + uuid + " #build-result").val(msg);
                        });
                    }

                    $(function(){
                        $("#image-search").click(() => {
                            const search = $("#search").text();
                            $.post("/docker/images/search",{
                                tag: search
                            }).done((res) => {

                            });
                        });
                    });
                </script>
{% endblock %}