{% extends 'layout.html' %}
{% block content %}
                <div class="container">
                    <h2>Image</h2>
                    <div class="image-search">
                        <input type="text" id="search">
                        <input type="button" value="Search">
                    </div>
                    <div class="image-list">
                        <table border="1" width="100%">
                            <thead>
                                <tr>
                                    <td>repository</td>
                                    <td>tag</td>
                                    <td>image id</td>
                                    <td>created</td>
                                    <td>size</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr><!-- link -->
                                    <td>pwn</td>
                                    <td>lastest</td>
                                    <td>8a162a24006c</td>
                                    <td>5 months ago</td>
                                    <td>2.1GB</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </article>
{% endblock %}