{% extends 'layout.html' %}
{% block content %}
                <div class="container">
                    <h2>Dockerfile</h2>
                    <div class="row">
                        <div class="col s10 input-field">
                            <input type="text" id="search" name="search" class="validate">
                            <label for="search">Search</label>
                        </div>
                        <div class="col s2 input-field center-align">
                            <a class="waves-effect waves-light btn" id="dockerfile-search">Search</a>
                        </div>
                    </div>
                    <div class="row">
                        <table border="1">
                            <thead>
                                <tr>
                                    <td>filename</td>
                                    <td>uuid</td>
                                    <td>timestamp</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dockerfile in dockerfiles %}
                                <tr>
                                    <td>haha</td>
                                    <td>{{ dockerfile.uuid }}</td>
                                    <td>{{ dockerfile.date }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col s10"></div>
                        <div class="col s2 center-align">
                            <a class="waves-effect waves-light btn" id="dockerfile-upload">Upload</a>
                        </div>
                    </div>
                    <form class="hide" method="POST" action="/dockerfile/upload" id="form-file" enctype="multipart/form-data">
                        <input type="file" name="file" id="file">
                    </form>
                </div>
                <script>
                    $(function(){
                        $("#dockerfile-search").click(() => {
                            const search = $("#search").text();
                            $.post("/dockerfile/search",{
                                name: search
                            }).done((res) => {

                            });
                        });
                        $("#dockerfile-upload").click((e) => {
                            e.preventDefault();
                            $("#file").click();
                        });

                        $("#file").change(() => {
                            const form = $("#form-file")[0];
                            formData = new FormData(form);
                            formData.append("file", $("#file")[0].files[0]);

                            $.ajax({
                                url: "/dockerfile/upload",
                                contentType: false,
                                processData: false,
                                data: formData,
                                type: "POST",
                                success: function(result) {
                                    console.log(result);
                                }
                            });
                        });
                    });
                </script>
{% endblock %}