{% extends 'layout.html' %}
{% block content %}
                <div class="container">
                    <h2>Users</h2>
                    <div class="row">
                        <div class="col s10 input-field">
                            <input type="text" id="search" name="search" class="validate">
                            <label for="search">Search</label>
                        </div>
                        <div class="col s2 input-field center-align">
                            <a class="waves-effect waves-light btn" id="container-search">Search</a>
                        </div>
                    </div>
                    <div class="row" id="user-table">
                        <table border="1">
                            <thead>
                                <tr>
                                    <td class="center-align">username</td>
                                    <td class="center-align">password</td>
                                    <td class="center-align">level</td>
                                    <td class="center-align">uuid</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    <td class="center-align">{{ user.username }}</td>
                                    <td class="center-align">{{ user.password }}</td>
                                    {% if user.level == 1 %}
                                        <td class="center-align">admin</td>
                                    {% else %}
                                        <td class="center-align">user</td>
                                    {% endif %}
                                    <td class="center-align" id="uuid">{{ user.uuid }}</td>
                                    <td>
                                        <a class="waves-effect waves-light btn" onclick="remove(this)">-</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col s2 input-field left-align">
                        <a class="waves-effect waves-light btn" id="user-add">+</a>
                    </div>
                </div>
                <script>
                    $(function(){
                        $("#container-search").click(() => {
                            const search = $("#search").val();
                            $.post("/docker/containers/search",{
                                tag: search
                            }).done((res) => {
                                console.log(res);
                            });
                        });
                        
                        const user_add_html = `
                        <tr>
                            <td class="center-align">
                                <input type="text" id="username">
                            </td>
                            <td class="center-align">
                                <input type="text" id="password">
                            </td>
                            <td class="center-align input-field">
                                <select id="level">
                                    <option value="0">user</option>
                                    <option value="1">admin</option>
                                </select>
                            </td>
                            <td class="center-align input-field">
                                <a class="waves-effect waves-light btn" onclick="commit(this);">commit</a>
                            </td>
                            <td class="center-align">
                                <a class="waves-effect waves-light btn" onclick="gparent_remove(this);">-</a>
                            </td>
                        </tr>
                        `;
                        user_add_enable = () => {
                            $("#user-table tbody").append(user_add_html);
                        };

                        $("#user-add").click(() => {
                            user_add_enable();
                            $('select').formSelect();
                        });

                        commit = (obj) => {
                            let parent = $(obj).parent().parent()[0];
                            username = $(parent).find("#username").val();
                            password = $(parent).find("#password").val();
                            level = $(parent).find("#level").val();

                            $.post("/admin/users/add",{
                                username: username,
                                password: password,
                                level: level
                            }).done((res) => {
                                console.log(res);
                            });
                        }

                        remove = (obj) => {
                            let parent = $(obj).parent().parent()[0];
                            uuid = $(parent).find("#uuid").text();
                            $.get("/admin/users/remove/" + uuid)
                            .done((res) => {
                                console.log(res);
                            });
                        }

                        gparent_remove = (obj) => {
                            let parent = $(obj).parent().parent()[0];
                            $(parent).remove();
                        }
                    });
                </script>
{% endblock %}
