<!DOCTYPE html>
<html>
    <head>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}" />

        <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper white">
                    <a href="/" class="brand-logo" style="padding: 5px;">
                        <!--https://manage.conoha.jp/Content/Images/ConoHa/Common/logo.png-->
                        <img src="#" alt="logo">
                    </a>
                </div>
            </nav>
        </header>
        <ul id="slide-out" class="sidenav sidenav-fixed blue lighten-5">
            <li><a class="subheader"><i class="material-icons">Docker</i></a></li>
            <li><a href="/docker/images">Image</a></li>
            <li><a href="/docker/containers">Container</a></li>
            <li><a href="/dockerfile">Dockerfile</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Payment</a></li>
            <li><a class="waves-effect" href="#!">setting</a></li>
        </ul>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>