<!DOCTYPE html>
<html>
    <head>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}" />
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper white">
                    <a href="#" class="brand-logo black-text" style="padding-left: 10px;">Logo</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/logout" class="black-text">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <ul id="slide-out" class="sidenav sidenav-fixed blue lighten-5">
            <li><a class="subheader"><i class="material-icons">Docker</i></a></li>
            <li><a href="/docker/images">Image</a></li>
            <li><a href="/docker/containers">Container</a></li>
            <li><a href="/dockerfile">Dockerfile</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader"><i class="material-icons">User</i></a></li>
            <li><a href="/file">File</a></li>
            <li><a href="/payment/coupon">Coupon</a></li>
            <li><a href="/payment">Payment</a></li>
            <li><a href="/api">Api</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader"><i class="material-icons">Admin</i></a></li>
            <li><a href="/admin/users">user</a></li>
            <li><a href="/admin/images">image</a></li>
            <li><a href="/admin/containers">container</a></li>
        </ul>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>