{% extends 'layout.html' %}
{% block content %}
                <div class="container">
                    <h2>Coupon</h2>
                    <hr>
                    <h5>Used</h5>
                    <div class="row" id="coupon-used-table">
                        <table border="1">
                            <thead>
                                <tr>
                                    <td class="center-align">coupon</td>
                                    <td class="center-align">username</td>
                                    <td class="center-align">expire_date</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% if used_cnt == 0 %}
                                <tr>
                                    <td colspan="6" class="center-align">-</td>
                                </tr>
                                {% endif %}
                                {% for coupon in coupons %}
                                    {% if coupon.used == True %}
                                <tr>
                                    <td class="center-align" id="coupon">{{ coupon.coupon }}</td>
                                    <td class="center-align" id="username">{{ coupon.username }}</td>
                                    <td class="center-align" id="expire_date">{{ coupon.expire_date }}</td>
                                </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <h5>Valid</h5>
                    <div class="row" id="coupon-table">
                        <table border="1">
                            <thead>
                                <tr>
                                    <td class="center-align">coupon</td>
                                    <td class="center-align">username</td>
                                    <td class="center-align">expire_date</td>
                                    <td class="center-align">*</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% if noused_cnt == 0 %}
                                <tr>
                                    <td colspan="6" class="center-align">-</td>
                                </tr>
                                {% endif %}
                                {% for coupon in coupons %}
                                    {% if not coupon.used %}
                                <tr>
                                    <td class="center-align" id="coupon">{{ coupon.coupon }}</td>
                                    <td class="center-align" id="username">{{ coupon.username }}</td>
                                    <td class="center-align" id="expire_date">{{ coupon.expire_date }}</td>
                                    <td class="center-align">
                                        <a class="waves-effect waves-light btn" onclick="use(this)">
                                            <i class="small material-icons">done</i>
                                        </a>
                                    </td>
                                </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <script>
                    $(function(){
                        use = (obj) => {
                            let parent = $(obj).parent().parent()[0];
                            coupon = $(parent).find("#coupon");
                            $.post("/payment/coupon/use",{
                                "coupon": coupon
                            }).done((res) => {
                                result = JSON.parse(res);
                                if(result["code"] == 0) document.reload();
                                else M.toast({html: result["msg"]});
                            });
                        }
                    });
                </script>

{% endblock %}