{% extends 'layout.html' %}
{% block content %}
                <div class="container">
                    <h2>Coupon</h2>
                    <div class="row" id="coupon-table">
                        <table border="1">
                            <thead>
                                <tr>
                                    <td class="center-align">coupon</td>
                                    <td class="center-align">username</td>
                                    <td class="center-align">used</td>
                                    <td class="center-align">expire_date</td>
                                    <td class="center-align">uuid</td>
                                    <td class="center-align">*</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% if not coupons %}
                                <tr>
                                    <td colspan="6" class="center-align">-</td>
                                </tr>
                                {% endif %}
                                {% for coupon in coupons %}
                                <tr>
                                    <td class="center-align" id="coupon">{{ coupon.coupon }}</td>
                                    <td class="center-align" id="username">{{ coupon.username }}</td>
                                    <td class="center-align" id="used">{{ coupon.used }}</td>
                                    <td class="center-align" id="expire_date">{{ coupon.expire_date }}</td>
                                    <td class="center-align" id="uuid">{{ coupon.uuid }}</td>
                                    <td class="center-align">
                                        <a class="waves-effect waves-light btn" onclick="remove(this)">
                                            <i class="small material-icons">close</i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
{% endblock %}