{% extends 'layout.html' %}
{% block content %}
                <div class="container">
                    <h2>Payment</h2>
                    <hr>
                    <h5>Credit: {{ credit }} yen</h5>
                    <br>
                    <div class="container">
                        <div class="paypal_amount_tbl">
                            <table>
                                <tr>
                                    <td>충전금액</td>
                                    <td>
                                        <input type="text" name="amount" class="paypal_amount" autofocus>
                                    </td>
                                    <td>엔</td>
                                </tr>
                            </table>
                        </div>
                        <div class="paypal_buttons"></div>
                    </div>
                </div>
                <script src="https://www.paypal.com/sdk/js?currency=JPY&client-id=AU1-vLpUNC1HltoVAMzQJ8eANkXPIXTUZraWqbOD_DWTPzWyAAGAQsRz-V4SFee4wN1yEkg4rxTR-SDU"></script>
                <script>
                    $(function(){
                        paypal.Buttons({
                            createOrder: function(data, actions) {
                                let amount = $(".paypal_amount").val();
                                return actions.order.create({
                                    purchase_units: [{
                                        amount: {
                                            currency_code: "JPY",
                                            value: amount
                                        }
                                    }]
                                });
                            },
                            onApprove: function(data, actions) {
                                // Capture the funds from the transaction
                                return actions.order.capture().then(function(details) {
                                    // Show a success message to your buyer
                                    //alert('Transaction completed by ' + details.payer.name.given_name);
                                    //console.log(details);
                                    order_success(details);
                                });
                            }
                        }).render('.paypal_buttons');

                        order_success = (details) => {
                            $.post("/payment/paypal/order", {
                                details: JSON.stringify(details)
                            }).done((res) => {
                                result = JSON.parse(res);
                                if(result["code"] == 0)
                                    location.reload();
                            });
                        }
                    });
                </script>

{% endblock %}